.container#sign-up-form
  .row
    .col-sm-12
      %h1.signup Get in touch with like-minded people
      %h3 Create study and acomplish together
    .col-sm-6.offset-sm-3
      %h3
        Sign up
        %small it's free
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.input :name, autofocus: true, placeholder: 'username',  class: 'form-control'
        = f.input :email, autofocus: true, placeholder: 'email',  class: 'form-control'
        = f.input :password, autocomplete: "off", placeholder: 'password',  class: 'form-control'
        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean
        = f.button :submit, class:"btn btn-primary full-width"
